:root {
	--text-color: #404040;
	--primary-color: #dff2eb;
	--row-color: #edf2f0;
  --radio-color: #8abfa3;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: var(--text-color);
	font-family:Trebuchet MS,Helvetica,sans-serif;
	flex-wrap: wrap;
}

#msg {
	background-color: var(--primary-color);
	padding: .5rem 1rem;
	border-radius: .5rem;
	display: inline-block;
}

#msg:empty {
	display: none;
}

#command-type {
	text-transform: capitalize;
}

table {
	margin: 1rem auto;
	min-width: 40vw;
}

th {
	background-color: var(--primary-color);
	padding: .5rem 1rem;
}

td {
	padding: .3rem 1rem;
	text-align: start;
}
tr:nth-child(odd) {
	background-color: var(--row-color);
}
tr td:last-child {
	text-align: right;
}

input[type="radio"] {
	accent-color: var(--radio-color);
}

textarea {
	min-width: 50vw;
	margin: 0 auto;
}
