{{ $length := len .Commands }}
{{ $offset := .Offset }}
{{ range $idx, $Command := .Commands }}
<tr
	{{if (isLast $idx $length) }}
		hx-trigger="revealed"
		hx-get="/filter_commands?offset={{$offset}}"
		hx-include="[name='command_type'],[name='search_query']"
		hx-target="#list"
		hx-swap="beforeend"
	{{end}}
	class="hover:bg-green-50">
	<td class="relative whitespace-nowrap border-b border-gray-200 py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-8 lg:pr-8">
		<input type="radio" name="default" value="{{$Command.Alias}}"
			hx-get="/set-default-command"
			hx-trigger="change"
			hx-target="#notification" 
			hx-swap="innerHtml"
			class="h-4 w-4 border-gray-300 text-green-600 focus:ring-green-600 active:ring-2 active:ring-green-600 active:ring-offset-2"
			{{if $Command.IsDefault}}
			checked
			{{end}}
		>
	</td>
	<td class="whitespace-nowrap border-b border-gray-200 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">{{$Command.Alias}}</td>
	<td class="relative whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500 table-cell group">
		{{$Command.QueryHostname}}
		<div class="absolute bottom-[calc(80%)] left-0 z-10 inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm tooltip invisible group-hover:visible">
			{{$Command.Query}}
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
	</td>
	<td class="border-b border-gray-200 px-3 py-4 text-sm text-gray-500 table-cell">
		{{if eq $Command.ArgType "num"}}
			{{range $Command.ArgsNum}}
				<span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 my-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">{{"{"}}{{.}}{{"}"}}</span>
			{{end}}
		{{else if eq $Command.ArgType "keyval"}}
			{{range $Key, $Val := $Command.ArgsKeyVal}}
				<span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 my-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">{{$Key}}: {{$Val}}</span>
			{{end}}
		{{else if eq $Command.ArgType "any"}}
			<span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 my-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">%s</span>
		{{else}}
			<span></span>
		{{end}}
	</td>
	<td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500">{{$Command.Description.String}}</td>
</tr>
{{end}}
