<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GoFind - List Commands</title>
		<link href="/static/styles.css" rel="stylesheet">
		<script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
	</head>
	<body>
		<h1>List of Available Commands</h1>

		<span>
			<p id="msg"></p>
		</span>

		{{ range $Type, $Commands := .GroupedCommands }}
		<h3 id="command-type">{{$Type}} Commands</h3>
		<table>
			<tr>
				<th>Alias</th>
				{{if eq $Type "search"}}
					<th>Query</th>
					<th>Arguments</th>
				{{end}}
				<th>Description</th>
				<th>Default</th>
			</tr>
			{{range $Commands}}
			<tr>
				<td>{{.Alias}}</td>

				{{if eq $Type "search"}}
					<td class="query">
						<span class="hostname">{{.QueryHostname}}</span>
						<span class="query-full">{{.Query}}</span>
					</td>
					<td class="args">
						{{if eq .ArgType "num"}}
							{{range .ArgsNum}}
								<span class="arg num">{{"{"}}{{.}}{{"}"}}</span>
							{{end}}
						{{else if eq .ArgType "keyval"}}
							{{range $Key, $Val := .ArgsKeyVal}}
					<span class="arg keyval">{{$Key}}: {{$Val}}</span>
							{{end}}
						{{else}}
							<span class="arg any">%s</span>
						{{end}}
					</td>
				{{end}}

				<td class="description">{{.Description.String}}</td>

				{{if .IsDefault}}
				<td>
					<input type="radio" name="default" value="{{.Alias}}"
						hx-get="/set-default-command"
						hx-trigger="change"
						hx-target="#msg" 
						hx-swap="textContent"
						checked
					>
					<span class="graphical-radio"></span>
				</td>
				{{else}}
				<td>
					<input type="radio" name="default" value="{{.Alias}}"
						hx-get="/set-default-command"
						hx-trigger="change"
						hx-target="#msg" 
						hx-swap="textContent"
					>
					<span class="graphical-radio"></span>
				</td>
				{{end}}
			</tr>
			{{end}}
		</table>
		{{end}}
	</body>
</html>
