<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GoFind - List Commands</title>
		<link href="/static/css/styles.css" rel="stylesheet">
		<link rel="search" type="application/opensearchdescription+xml" title="GoFind" href="http://localhost:8080/static/opensearch.xml" />
		<script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
	</head>
	<body>
		<h1 
			hx-trigger="revealed"
			hx-get="/filter_commands"
			hx-target="#list"
			hx-swap="innerHTML"
			class="text-4xl text-center my-10 font-bold">GoFind</h1>

		<div class="max-w-[20vw] mx-auto my-10">
			<div class="relative mt-2 flex items-center">
				<input 
					name="search_query"
					id="search_query"
					hx-trigger="keyup changed delay:500ms"
					hx-get="/filter_commands"
					hx-include="[name='command_type']"
					hx-target="#list"
					autofocus placeholder="Quick Search" type="text" name="search" id="search" class="block w-full rounded-md border-0 py-1.5 pr-14 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm/6">
				<div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
					<kbd class="inline-flex items-center rounded border border-gray-200 px-1 font-sans text-xs text-gray-400">⌘K</kbd>
				</div>
			</div>
		</div>

		{{template "command_tabs.html" .}}

		<main>
			<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
				<div class="px-4 sm:px-6 lg:px-8 border border-gray-300 rounded-md">
					<div class="flow-root">
						<div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
							<div class="inline-block min-w-full py-2 align-middle">
								<table class="min-w-full border-separate border-spacing-0 table-fixed">
									<thead>
										<tr>
											<th scope="col" class="rounded-tl-md sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter table-cell w-10">Default</th>
											<th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">Alias</th>
											{{if eq .Type "search"}}
												<th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Query</th>
												<th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Arguments</th>
											{{end}}
											<th scope="col" class="rounded-tr-md sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter table-cell">Description</th>
										</tr>
									</thead>

									<tbody id="list"
									>
									</tbody>

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- Notification -->
		<div id="notification" aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6">
		</div>

		<script type="text/javascript">
			document.addEventListener('keydown', function(event) {
				if (event.ctrlKey && event.key === 'k') {
					event.preventDefault();
					document.querySelector('#search_query').focus();
				}
			});
		</script>
	</body>
</html>
